.headerContainer{
    width: 100%;
    height: 18%;
    padding: 2rem;
    margin:1.5rem 1.5rem 1.5rem 0;
    background: #ffffff;
}

body{
    background: #2d2d2d;
}

/*Header Section  */
.TimeTablerHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcomeMessageContainer{
    display: flex;
    flex-direction: column;
}

.welcomeMessageContainer h1{
    font-size: 2.8rem;
    letter-spacing: 2.2px;
    padding-bottom: .6rem;
}

.welcomeMessageContainer span{
    border: 2px solid var(--primaryColor);
    border-radius: .3rem;
    width: 5.8rem;
    min-width: 5.8rem;
    max-width: 18rem;
    padding: .18rem .6rem;
    
    font-weight: 500;
    background: var(--primaryColor);
    color: var(--textColor);
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: .6rem .4rem;
  align-items: center;
  
}

.searchContainer {
    position: relative;      
    display: inline-block;
    width: 20rem;
}

.searchContainer input {
    width: 100%;
    padding: .5rem 2rem .5rem 1rem; 
    box-sizing: border-box;

    outline: none;
    border-radius: .5rem;
    border: 2px solid var(--primaryColor);
    font-size: 1.1rem;
    background: #f4f4f4;
}

.searchIcon {
    position: absolute;
    top: 35%;
    right:5%; 
    transform: translate(-35%,-5%);
    pointer-events: none;
    font-size: 1rem;
    color: #b3b3b3;
 
}

.bellIcon{
    font-size: 1.5rem;
}

.profileContainer{
    width:3rem;
    height:3rem;
}

.profileContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:50%;
    
}
